gunicorn
flask
pandas
pathlib
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

absl-py
appdirs
attrs
audeer
audformat
audinterface
audiofile
audioread
audobject
audresample
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
cycler
decorator
ffmpeg
ffmpeg-python
filelock
future
gdown
huggingface-hub
idna
importlib-metadata
joblib
kiwisolver
llvmlite
mmsa-fet
numba
numpy
opencv-contrib-python
oyaml
packaging
pillow
pip
pooch
protobuf
pycparser
pyparsing
pysocks
pytz
pyyaml
regex
requests
resampy
scenedetect
scipy
setuptools
six
soundfile
soupsieve
sox
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-extensions
tzdata
urllib3
vc
wheel
wincertstore
zipp

